.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.subtitle {
  font-style: italic;
  font-size: 18px;
}
