.header {
  min-height: calc(100vh - 60px);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.subtitle {
  font-style: italic;
  font-size: 36px;
}
@media screen and (max-width: 998px) {
  .subtitle,
  .title {
    text-align: center;
  }
}
